---
pagination:
  data: posts
  size: 1
  alias: post
permalink: "/blog/{{ post.slug.current }}/"
layout: layouts/base.njk
---

<article class="post-page">
  <div class="container">
    <header class="post-header">
      <div class="post-icon">{{ post.icon }} </div>
      <h1 class="post-title">{{ post.title}}</h1>

      <div class="post-meta">
        <span class="post-author">بواسطة {{ post.author }}</span>
        <span class="post-date">{{ post.date | simpleDate}}</span>
        <span class="post-category">{{ post.category.name }}</span>
      </div>
    </header>

    <div class="post-content">
      {{ post.content | safe }}
    </div>

    <footer class="post-footer">
      <a href="/blog/" class="btn btn-outline">← العودة للمدونة</a>
    </footer>
  </div>
</article>